<div class="base">
  <div class="titulos-container">
    <div class="titulo">
      ShutDown Timer II
    </div>
    <div class="sub-titulo">
      SHUT UP!
    </div>
  </div>
  <div class="centro">
    <div class="preset-btn-group">
      <div class="title">PreSets</div>
      <button class="preset-botao" (click)="shudown(60 * 60 * 2)">
        2H
      </button>
      <button class="preset-botao" (click)="shudown(60 * 60 * 3)">
        3H
      </button>
    </div>
    <div class="preta">
      <span class="horas horas-cinzento">
        00:00
      </span>
      <span class="horas horas-vermelho">
        {{ hours | number: '2.0-0' }}:{{ minutes | number: '2.0-0' }}
      </span>
    </div>
  </div>
  <div class="baixo">
    <div class="actions-container">
      <button class="action-botao abort" (click)="abort()">Abort</button>
      <button class="action-botao apply">Set</button>
    </div>
    <div class="maisemenos-container">
      <div class="maisemenos" (click)="decHours()"><span>-</span></div>
      <div class="maisemenos" (click)="incHours()"><span>+</span></div>
    </div>
    <div class="maisemenos-container">
      <div class="maisemenos" (click)="decMinutes()"><span>-</span></div>
      <div class="maisemenos" (click)="incMinutes()"><span>+</span></div>
    </div>
  </div>
</div>
