<div class="base">
  <div class="titulos-container">
    <div class="titulo">ShutDown Timer II</div>
    <div class="sub-titulo">SHUT UP!</div>
  </div>
  <div class="centro">
    <div class="preset-btn-group" [ngClass]="{ disabled: disableControls }">
      <ng-container *ngIf="!disableControls">
        <div class="preset-title">PreSets</div>
        <button class="preset-botao" (click)="onPreset1Click()">2H</button>
        <button class="preset-botao" (click)="onPreset1Click()">3H</button>
      </ng-container>
    </div>
    <div class="preta">
      <span class="horas horas-cinzento"> 00:00 </span>
      <span class="horas horas-vermelho">
        {{ hours | number : '2.0-0' }}:{{ minutes | number : '2.0-0' }}
      </span>
      <div class="segundos">
        {{ seconds | number : '2.0-0' }}
      </div>
    </div>
    <div *ngIf="!disableControls" class="radio-buttons-container">
      <div class="radio-button">
        <input
          type="radio"
          name="clockType"
          value="in"
          [(ngModel)]="clockType"
        />
        <span>in</span>
      </div>
      <div class="radio-button">
        <input
          type="radio"
          name="clockType"
          value="at"
          [(ngModel)]="clockType"
          (change)="onClockTypeChange()"
        />
        <span>at</span>
      </div>
    </div>
  </div>
  <div class="baixo">
    <div class="actions-container">
      <button
        #abortBtn
        class="action-botao abort"
        (click)="abort(); abortBtn.blur()"
      >
        Abort
      </button>
      <button
        #setBtn
        *ngIf="!disableControls"
        class="action-botao apply"
        (click)="shutdownFromSelected(); setBtn.blur()"
      >
        Set
      </button>
    </div>
    <ng-container *ngIf="!disableControls">
      <div class="maisemenos-container">
        <div class="maisemenos" (click)="decHours()"><span>-</span></div>
        <div class="maisemenos" (click)="incHours()"><span>+</span></div>
      </div>
      <div class="maisemenos-container">
        <div class="maisemenos" (click)="decMinutes()"><span>-</span></div>
        <div class="maisemenos" (click)="incMinutes()"><span>+</span></div>
      </div>
    </ng-container>
  </div>
</div>
